[MASTER]
disable=
    C0114, #missing-module-docstring
    C0115, #missing-class-docstring
    C0116, #missing-function-docstring
    W0702, #bare-except
    R0903, #too-few-public-methods
    R1721, #unnecessary-comprehension
    R0902, #too-many-instance-attributes
    R0912, #too-many-branches

[pycodestyle]
max-line-length=150

ignore=tests